{% extends 'main/base.html' %} {% block body_block %} {% load static %}

{% block sidebar %}

{% include 'main/sidebar.html' %}
{% load taggit_templatetags2_tags %}

{% endblock sidebar %}

{% block content %}

<a href="{% url 'post_detail' post.post_id %}"><img src="{{ post.image.url }}" alt="img" style="max-width: 800; max-height: 800; mix-width: 500; min-height: 500;"></a>

<div class="pagination">
    <span class="step-links">
    {% if q %}
        {% if page_obj.has_previous %}
            <a href="?page=&tags={{ q }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&tags={{ q }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&tags={{ q }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&tags={{ q }}">last &raquo;</a>
        {% endif %}
        {% else %}
                {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        {% endif %}
    </span>
</div>
{% endblock content %}
{% endblock body_block %}
