{% extends 'main/base.html' %} {% block body_block %} {% load static %}

{% block sidebar %}

{% include 'main/sidebar.html' %}

{% include 'main/sidebar2.html' %}
{% endblock sidebar %}


{% load taggit_templatetags2_tags %}
{% block content %}

<a href="{% url 'post_detail' post.post_id %}"><img src="{{ post.image.url }}" alt="img" class="detail-img"></a>

<div class="pagination">
    <span class="step-links">

	<ul class="pager">
		{% if q %}
{% if post.get_next_by_published %}
    <li class="previous">
	    <a href="{% url 'post_detail' post.get_next_by_published.post_id %}?tags={{ q }}">&larr;Next Post</a>
            </li>
        {% endif %}
        {% if post.get_previous_by_published %}
            <li class="next">
		    <a href="{% url 'post_detail' post.get_previous_by_published.post_id %}?tags={{ q }}">Previous Post&rarr;</a>
            </li>
        {% endif %}
	{% else %}
{% if post.get_next_by_published %}
    <li class="previous">
                 <a href="{% url 'post_detail' post.get_next_by_published.post_id %}">&larr;Next Post</a>
            </li>
        {% endif %}
        {% if post.get_previous_by_published %}
            <li class="next">
                 <a href="{% url 'post_detail' post.get_previous_by_published.post_id %}">Previous Post&rarr;</a>
            </li>
        {% endif %}
	{% endif %}
    </ul>

    </span>
</div>
{% endblock content %}
{% endblock body_block %}
