{% extends 'main/base.html' %} {% block body_block %} {% load static %}

{% block sidebar %}

{% include 'main/sidebar.html' %}

{% endblock sidebar %}


<!-- Post -->
{% load taggit_templatetags2_tags %}
{% block content %}
<p>Image is resized. <a href="{{ post.image.url }}">View original</a></p>
<a href="{% url 'post_detail' post.post_id %}"><img src="{{ post.image.url }}" alt="img" style="max-height:900px; max-width:900px;"></a>
<!-- End of Post -->

<!-- Pagination -->
<div class="pagination">
    <span class="step-links">

	<ul class="pager">
		{% if q %}
{% if post.get_next_by_published %}
    <li class="previous">
	    <a href="{% url 'post_detail' post.get_next_by_published.post_id %}?tags={{ q }}">&larr;Next Post</a>
            </li>
        {% endif %}
        {% if post.get_previous_by_published %}
            <li class="next">
		    <a href="{% url 'post_detail' post.get_previous_by_published.post_id %}?tags={{ q }}">Previous Post&rarr;</a>
            </li>
        {% endif %}
	{% else %}
{% if post.get_next_by_published %}
    <li class="previous">
                 <a href="{% url 'post_detail' post.get_next_by_published.post_id %}">&larr;Next Post</a>
            </li>
        {% endif %}
        {% if post.get_previous_by_published %}
            <li class="next">
                 <a href="{% url 'post_detail' post.get_previous_by_published.post_id %}">Previous Post&rarr;</a>
            </li>
        {% endif %}
	{% endif %}
    </ul>

    </span>
</div>
<!-- End of Pagination -->


{% endblock content %}
{% endblock body_block %}
