body {
    overflow-x: hidden;
    background: #f8f9fa !important;
}

.nav-item {
    font-size: 20px;
    padding-left: 45px;
}

.navbar-brand {
    font-size: 32px !important;
    font-family: Poppins;
}

.bottom-navbar {
    background: lightblue;
}

.sidebar {
    background: #f7f5fa;
    position: relative;
    width: 300px;
    height: 100%;
    float: left;
    bottom: 0;
}

.sidebar-content {
    padding: 0;
    margin: 0;
}

.user-avatar {
    border-radius: 50%;
    padding: 25px 0;
    width: 50px;
}

.no-list-style {
    list-style-type: none;
}

.info-title {
    padding: 25px 0 !important;
}

.info-item {
    padding: 0 10px;
}

.post-area {
    display: flex;
}

.post {
    max-width: 1400px;
    max-height: 14000px;
    margin: 0 auto;
}

.comment-form {
    padding-top: 100px;
    padding: 0 150px;
}

.comment-form input {
    width: 500px;
    height: 50px;
    margin: 0 auto;
}

.form-place {
    padding: 0 25px;
    font-family: poppins;
}

.submit-btn {
    padding: 25px 0;
}

.submit-btn a {
    color: black;
}

.submit-btn a i {
    height: 25px;
}

.container .form-group {
    font-size: 27px;
}

form {
    padding: 150px 250px;
}

.comment-area h3 {
    padding: 50px 0;
}

.the-comments {
    padding: 10px 0;
    font-family: Raleway;
}

.comment-stats {
    color: #ACACAC;
    font-family: sans-serif;
}