{% extends 'main/base.html' %}
{% load static %}


{% block sidebar %}
{% include 'main/sidebar.html' %}
{% endblock sidebar %}

{% block content %}

  <!-- Content -->

  <a href="{% url 'index' %}"><h3>Posts</h3></a>
  <div class="bg-light content" id="content">
	  {% for post in page_obj %}
	  {% if q %}
	  <a href="{% url 'post_detail' post.post_id %}?tags={{ query }}"><img src="{{ post.image.url }}" alt="" class="item-landscape"></a>
	  {% else %}
	  <a href="{% url 'post_detail' post.post_id %}"><img src="{{ post.image.url }}" alt="" class="item-landscape"></a>
	  {% endif %}
    {% endfor %}
  </div>
  <!-- End of content -->

  <!-- Pagination -->
<div class="container pag text-center">
<h4 class="pagination-title">Pagination</h4>
<div class="pagination">
    <span class="step-links">
    {% if q %}
        {% if page_obj.has_previous %}
            <a href="?tags={{ query }}&page=" class="page">&laquo; first</a>
            <a href="?tags={{ query }}&page={{ page_obj.previous_page_number }}" class="page">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?tags={{ query }}&page={{ page_obj.next_page_number }}" class="page">next</a>
            <a href="?tags={{ query }}&page={{ page_obj.paginator.num_pages }}" class="page">last &raquo;</a>
        {% endif %}
        {% else %}
                {% if page_obj.has_previous %}
            <a href="?page=1" class="page">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page">last &raquo;</a>
        {% endif %}
        {% endif %}
    </span>
</div>
</div>
<!-- End of Pagination -->


{% endblock content %}

