    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <ul class="status-place">
                <h2 class="stat-title"><b>User Status</b></h2>
		<li class="u-stat no-list-style"><p>User ID: <b class="u-stat-item">{{ user.id }}</b></p></li>
		<li class="u-stat no-list-style"><p>Join Date: <b class="u-stat-item">{{ user.date_joined }}</b></p></li>
		<li class="u-stat no-list-style"><p>Posts: <b class="u-stat-item">{{ posts.count }}</b></p></li>
                <li class="u-stat no-list-style"><p>Comments: <b class="u-stat-item">10</b></p></li>
            </ul>
        </div>
        <!-- End of Sidebar Content -->
    </div>
  <!-- End of Sidebar -->
