
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">

  <h3 style="padding:5px;padding-top:9px; padding-bottom:5px;"><b>Search</b></h3>
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Search form -->
      <nav class="navbar navbar-light">
        <form class="form-inline" method="GET", action={% url 'posts' %}>
          <input class="form-control mr-lg-2" type="search" placeholder="Search Artist or Artwork by Tag" aria-label="Search" name="tags">
          <button class="search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </nav>
      <!-- End of Search form -->
      {% load taggit_templatetags2_tags %}
      <!-- Tags -->
      <ul class="tag-place">
        <h2><b>Tags</b></h2>
        {% get_taglist as tags for 'posts.Post:tags' %}
        {% for things in tags %}
        {% for shits in tag %}
        {% if things == shits %}
        <li class="no-list-style">
		<a id="tag" method="GET" name="tags" href="{% url 'posts' %}?tags={{ things }}"><i class="fa fa-tag tag-icon" aria-hidden="true"></i>{{ things }}</a> {{ things.num_times }}
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    <!-- End of tags -->

    {% url 'post_detail' post.post_id as postdetail %}
    {% if request.path == postdetail %}
            <!-- Information -->
            <ul class="tag-place">
                <h2 style="padding-left:5px;"><b>Information</b></h2>

		<li class="info-txt no-list-style"><p>Uploader: <b class="info-item"><a href="{% url 'dashboard' post.uploader.id %}">{{ post.uploader }}</a></b></p></li>
		<li class="info-txt no-list-style"><p>Post ID: <b class="info-item">{{ post.post_id }}</b></p></li>

		<li class="info-txt no-list-style"><p>Artist: <a href="{% url 'posts' %}?tags={{ post.artist }}" class="info-item">{{ post.artist }}</a> {{ artist }}</p></li>

		<li class="info-txt no-list-style"><p>Source: <b class="info-item"><a style="word-break:break-word" href="{{ post.source }}">{{ post.source }}</a></b></p></li>

		<li class="info-txt no-list-style"><p>Date Posted: <b class="info-item">{{ post.published }}</b></p></li>

{% if user.id == post.uploader.id %}
<a class="btn btn-primary" href="{% url 'edit' %}?post={{ post.post_id }}">Edit</a>
{% endif %}
            </ul>
            <!-- End of Information -->
	    {% endif %}
    <!-- End of Sidebar Content -->
      </ul>
    </div>
  </div>
  <!-- End of Sidebar -->
