<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Local CSS -->
    <link rel="stylesheet" href="style-home.css">
    
    <!-- Font (Google Font) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>@Mochida Design</title>
</head>
<body>
  <div class="z-index-2">
    <!-- Awal Navbar -->
    <nav class="navbar top-navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">LOGO / NAME</span>
    </nav>

    <nav class="navbar bottom-navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active nav-active" href="#">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Hot</a>
          <a class="nav-item nav-link" href="#">Popular</a>
          <a class="nav-item nav-link" href="#">Favorite</a>
          <a class="nav-item nav-link" href="#">Account Settings</a>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Navigator -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page><a href="#">Home</a></li>
      </ol>
    </nav>
    <!-- Akhir Navigator -->
  </div>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <!-- Sidebar Content (Tags dan Search) -->
    <div class="sidebar-content">
      <!-- Search form -->
      <nav class="navbar navbar-light">
        <form class="form-inline">
          <input class="form-control mr-lg-2" type="search" placeholder="Search Artist or Artwork" aria-label="Search">
          <button class="search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </nav>
      <!-- Akhir Search form -->

      <!-- Tags -->
      <ul class="tag-place">
        <h2><b>Tags</b></h2>
        <li class="no-list-style"><a href="#"><i class="fa fa-tag tag-icon" aria-hidden="true"></i>Kitten</a></li>
        <li class="no-list-style"><a href="#"><i class="fa fa-tag tag-icon" aria-hidden="true"></i>Cat_Girl</a></li>
        <li class="no-list-style"><a href="#"><i class="fa fa-tag tag-icon" aria-hidden="true"></i>Girl_Cat</a></li>
        <li class="no-list-style"><a href="#"><i class="fa fa-tag tag-icon" aria-hidden="true"></i>Car</a></li>
        <li class="no-list-style"><a href="#"><i class="fa fa-tag tag-icon" aria-hidden="true"></i>Puppy</a></li>
        <li class="no-list-style"><a href="#"><i class="fa fa-tag tag-icon" aria-hidden="true"></i>Turtle</a></li>
      </ul>
      <!-- Akhir Tags -->
    </div>
    <!-- Akhir Sidebar Content -->
  </div>
  <!-- Akhir Sidebar -->

  <!-- Awal Konten -->
  <div class="bg-light content" id="content">
    <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
    <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
    <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
    <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
  </div>
  <!-- Akhir konten -->

  <!-- Pagination -->
  <div class="container pag text-center">
      <h4 class="pagination-title">Pagination</h4>
    <div class="pagination">
      <a href="#" class="page">Before</a>
      <a href="#" class="page active">1</a>
      <a href="#" class="page">2</a>
      <a href="#" class="page">3</a>
      <a href="#" class="page">4</a>
      <a href="#" class="page">5</a>
      <a href="#" class="page">6</a>
      <a href="#" class="page">7</a>
      <a href="#" class="page">8</a>
      <a href="#"class="page">Next</a>
    </div>
  <div>
  <!-- Akhir Pagination -->



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>