<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Local CSS -->
    <link rel="stylesheet" href="style-ds.css">

    <!-- Font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Dashboard Design</title>
  </head>
  <body>

        <!-- Awal Navbar -->
    <nav class="navbar top-navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">LOGO / NAME</span>
    </nav>
        
    <nav class="navbar bottom-navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active nav-active" href="#">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Hot</a>
                <a class="nav-item nav-link" href="#">Popular</a>
                <a class="nav-item nav-link" href="#">Favorite</a>
                <a class="nav-item nav-link" href="#">Account Settings</a>
            </div>
        </div>
    </nav>
    <!-- Akhir Navbar -->
        
    <!-- Navigator -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <!-- Akhir Navigator -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <!-- Sidebar Content (Tags dan Search) -->
        <div class="sidebar-content">
            <!-- Tags -->
            <ul class="status-place">
                <img src="standar-avatar.png" class="user-avatar">
                <h2 class="stat-title"><b>User Status</b></h2>
                <li class="u-stat no-list-style"><p>User ID: <b class="u-stat-item">0000000001</b></p></li>
                <li class="u-stat no-list-style"><p>Join Date: <b class="u-stat-item">8/282020</b></p></li>
                <li class="u-stat no-list-style"><p>Comments: <b class="u-stat-item">10</b></p></li>
            </ul>
            <!-- Akhir Tags -->
        </div>
        <!-- Akhir Sidebar Content -->
    </div>
  <!-- Akhir Sidebar -->

    <!-- Awal Konten -->
    <div class="bg-light content" id="content">
        <div class="bg-light post"><h2>Post: </h2></div>
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    </div>

    <div class="bg-light content-favorite" id="content-favorite">
        <div class="bg-light post-fav"><h2>Favorite: </h2></div>
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
        <img src="DeHistoricalFlag.png" alt="" class="item-potrait">
        <img src="Yamato-bg.jpg" alt="" class="item-landscape">
    </div>
  <!-- Akhir konten -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>