<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Local CSS -->
    <link rel="stylesheet" href="style-det.css">

    <!-- Font (Google Font) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- ICON -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Detail Post Design</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar top-navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">LOGO / NAME</span>
    </nav>

    <nav class="navbar bottom-navbar navbar-expand-lg navbar-light">
        <div id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active nav-active" href="#">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Hot</a>
            <a class="nav-item nav-link" href="#">Popular</a>
            <a class="nav-item nav-link" href="#">Favorite</a>
            <a class="nav-item nav-link" href="#">Account Settings</a>
          </div>
        </div>
      </nav>
      <!-- Akhir Navbar -->

      <!-- Navigator -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page">Post Detail</li>
        </ol>
    </nav>
      <!-- Akhir Navigator -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <!-- Sidebar Content (Information) -->
        <div class="sidebar-content">
            <!-- Tags -->
            <ul class="post-info">
                <div class="user"><img src="standar-avatar.png" class="user-avatar"><h3>Mochida</h3></div>
                <h2 class="info-title"><b>Post Detail</b></h2>
                <li class="info-txt no-list-style"><p>Pitcure ID: <b class="info-item">0248627892</b></p></li>
                <li class="info-txt no-list-style"><p>Date Posted: <b class="info-item">8/28/2020</b></p></li>
                <li class="info-txt no-list-style"><p>Comments: <b class="info-item">(15) Comments</b></p></li>
            </ul>
            <!-- Akhir Tags -->
        </div>
        <!-- Akhir Sidebar Content -->
    </div>
  <!-- Akhir Sidebar -->

  <!-- Post -->
  <div class="post-area">
      <img src="pc-bg.jpg" class="post">
  </div>
  <!-- Akhir Post -->

  <!-- Comment -->
  <div class="container">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Comment">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

      <div class="comment-area">
        <h3>Comments (15)</h3>
        <div class="people-comments">
          <div class="the-comments">
            <h4>HAHA_USER</h4><a href="#" class="comment-stats">3d 4h ago</a>
            <p>LOL, gud draw</p>
          </div>
          <div class="the-comments">
            <h4>LOL_USER</h4><a href="#" class="comment-stats">1h ago</a>
            <p>Banzai</p>
          </div>
          <div class="the-comments">
            <h4>BOT</h4><a href="#" class="comment-stats">1m ago</a>
            <p>HAHA</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Akhir Comment -->
    
</div>
</body>
</html>